{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - Edit{% endblock %}
{% block titre %} {{parent()|upper  }}- consultation de {{ entreprise.getTitre() }} {% endblock %}
{% block body %}
    <h1>entreprise {{ entreprise.getEmail() }}</h1><br>
    <h1>{{ entreprise.getSpecialite() }}</h1>
    <h2>date de creation: {{ entreprise.getCreatedAt()|date('d-m-Y') }}</h2>

{% endblock %}