{% extends "base.html.twig" %}
{% block title %} {{ parent() }} - Edit{% endblock %}
{% block titre %} {{parent()|upper  }}- consultation de {{ job.getType() }} {% endblock %}
{% block body %}
    <h1>entreprise {{ job.getCompany() }}</h1><br>
    <h1>{{ job.getDescription() }}</h1>
    <h2>date d'expiration: {{ job.getExpiresAt()|date('d-m-Y') }}</h2>
    <h3>Image</h3>
   <img src ="{{ publicPath ~ job.image }}">
    <h3>Candidatures</h3>
    {% for candidature in listCandidatures %}
    <h4>Candidate</h4><br>
    <ul type="square">
    <li>{{ candidature.candidat }}</li>
    <li>{{ candidature.contenu }}</li>
    <li>{{ candidature.datec | date('d-m-y') }}</li>
    {% endfor %}
    </ul>
{% endblock %}